

/* external style */
.all{font-family: "Verdana";
}
.column-1{ display:inline-flex;
        max-width: 370px;
    
    
}
    
    .Head-1 {font-size: 30pt;
        line-height: 100%;
        font-family: "Verdana";
        position: relative;
        color: #F05125;
           
    }

.column-2{ display: inline-flex;

    
   
}

    .Body-1 { display: inline;
        color: #7FBB42;
        position: relative;
     
        
       
         }
    .Head-2{font-size: 17.5pt;
         color: #7FBB42;
        position: relative;

        
        
        
        
    }
    .Head-4{font-size: 17.5pt;
         color: #7FBB42;
        position: relative;
        
     

        
    }
    .Body-2 {display: inline;
        max-width: 300px;
        max-height: 500px;
       position: relative;
        color: #32A0DA;
    
       
    }
    .Head-3{ font-size: 17.5pt;
        position: relative;
        color: #32A0DA;
      
    }
    
ul{font-family:"Verdana";
    color: #F05125;
    
    
    
    
}
        
    }

