

/* external style */
.all{font-family: "Verdana";
    column-count: 2;
    }

    
    .Head-1 {font-size: 30pt;
        line-height: 100%;
        padding-top: 100px
        position: static;
        color: #F05125;
     
        
        
    }
    .p-1{
        
        
        
    }
     .p-2{ margin-top: 100px;
         border-right 100px;

        
        
        
    }
     .p-3{ margin-top: 200px;
    
        
        
        
    }
     .p-4{ margin-top: 300px;
    

        
        
    }
    .Body-1 {display: inline;
        max-width: 300px;
        max-height: 500px;
        color: #7FBB42;
        position: relative;
     
        
       
         }
    .Head-2{font-size: 17.5pt;

         color: #7FBB42;
        position: static;

        
        
        
        
    }
    .Head-4{font-size: 17.5pt;
         color: #7FBB42;
        position: static;
     

        
    }
    .Body-2 {display: inline;
        max-width: 300px;
        max-height: 500px;
        padding-top: 500px;
        padding-left: 150px;
        position: static;
        color: #32A0DA;
    
       
    }
    .Head-3{ font-size: 17.5pt;
        max-width: 200px;
        max-height: 500px;
        position: static;
        color: #32A0DA;
    }
    .flex-container{ display: flex;
        
        
    }

