<!DOCTYPE css>

all{ column-count: 2
        column-gap: 40px;
       font-family: "Verdana";
        
    }
    
  
    button{font-size: 20pt;
        font-family: "Verdana";
        background-color: #FDB813;
        border: none;
        color: white;
        cursor: pointer;
        
        
    }
    
    buttonhover{background-color: #FFFFFF; 
  color: #FDB813;
 font-family: "Verdana";
transition-duration: 0.4s;
        
        
    }
    
    buttonactive{
        
        
    }
    form{ padding-top: 285px;
        padding-left: 555px;
        position: absolute;
        font-family: "Verdana";
       
        
    }
    
    Head-1 {font-size: 30pt;
        line-height: 100%;
        padding-top: 100px
            position absolute;
        color: #F05125;
     
        
        
    }
    Body-1 {display: inline-block;
        max-width: 200px;
        max-height: 700px;
        margin: 10px auto;
        color: #7FBB42;
       padding-left: 200px;
        padding-top: 220px;
        position: relative;
     
        
       
         }
    Head-2{font-size: 17.5pt;
         color: #7FBB42;
        padding-left: 200px;
        padding-top: 45px;
        position: absolute;

        
        
        
        
    }
    Head-4{font-size: 17.5pt;
         color: #7FBB42;
        padding-left: 200px;
        padding-top: 85px;
        position: absolute;
     

        
    }
    Body-2 {display: inline-block;
        max-width: 200px;
        max-height: 700px;
        padding-top: 500px;
        padding-left: 150px;
        position: absolute;
        color: #32A0DA;
    
       
    }
    div{ line-height: 50%;
        
        
    }
    Head-3{ font-size: 17.5pt;
        max-width: 200px;
        max-height: 700px;
        padding-top: 370px;
        padding-left: 150px;
        position: absolute;
        color: #32A0DA;
    }
